@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Fuzzy Bubbles;
  background-image: url("/images/maison-simpson.png");
  background-size: cover;
}

#start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("/images/donut2.gif");
}

.intro-paragraph {
  color: black;
  background-color: wheat;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.heart {
  height: 3rem;
}

.button {
  width: 5rem;
  height: 2rem;
  font-family: Fuzzy Bubbles;
  font-weight: bold;
  font-size: 1rem;
}

.menu-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#guess-section {
  background-color: burlywood;
  height: 10%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#darkside-section {
  background-color: brown;
  height: 90%;
  width: 100%;
}

#darkside-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.card.turned {
  pointer-events: none;
}

.avoid-clicks {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
}
.card.turned .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 170px;
  height: 170px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  transition: transform 0.6s ease;
}

.card .back {
  background-color: wheat;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}
