@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Fuzzy Bubbles;
  /*background-image: url(./images/background-image.jpg);
  background-size: cover;*/
}

/*Dialog start screen*/

#start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*background-image: url(./../images/maison-simpson.png);
  background-size: cover;*/
}

.start-screen-text {
  background-color: #f8e9d8;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 1em;
  filter: opacity(97%);
}

.intro-paragraph {
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

/*Header*/

h1 {
  text-align: center;
  position: relative;
  font-size: 5em;
  font-weight: bold;
  color: #fed90f;
  text-shadow: 3px 4px 3px black;
  margin: 1rem;
  margin-bottom: 3rem;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fed90f;
}

/*Buttons*/

#reset-button {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.button {
  width: 7rem;
  height: 3rem;
  font-family: Fuzzy Bubbles;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  border: 3px solid white;
  border-radius: 0.5em;
  background-color: #fed90f;
  color: black;
  text-shadow: 3px 4px 3px #fed90f;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.button:hover,
.button:focus {
  background-color: white;
  color: black;
}

#start-button-text {
  animation-duration: 1.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

#try-again-button,
#play-again-button {
  margin: 2rem;
}

/*Heart*/

.heart-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 2rem;
  top: 3rem;
}

.heart {
  height: 2.5rem;
}

.text-heart {
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ed91ad;
  text-shadow: 1px 1px 1px black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #ed91ad;
}

/*Game section*/

.game-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#guess-section {
  height: 10%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.guess-text {
  text-align: center;
  font-size: 1.5rem;
  color: #fed90f;
  text-shadow: 1px 1px 4px black;
  margin: 3rem 0;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #fed90f;
  animation-duration: 1.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#darkside-section {
  height: 90%;
  width: 100%;
}

#darkside-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.card.turned {
  pointer-events: none;
}

.avoid-clicks {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
  transition: transform 0.6s ease;
}
.card.turned .back {
  transform: rotateY(180deg);
  transition: transform 0.6s ease;
}

.card .back,
.card .front {
  width: 170px;
  height: 170px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card .back {
  background-image: linear-gradient(to top left, #fff4a6, #fed90f);
  background-size: cover;
}

#back-text {
  text-align: center;
  font-size: 5rem;
  color: #fed90f;
  text-shadow: 2px 3px 10px white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fed90f;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}

/*Dialog*/

.dialog {
  color: white;
  background-color: black;
  height: 85vh;
  width: 55vw;
  border: none;
}

#dialog-game-over,
#dialog-win {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1rem solid #fed90f;
}

#dialog-game-over img,
#dialog-win img {
  width: 40vw;
  height: 40vh;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}
